/* 基本のスタイル設定 */
.display-2 {
    font-size: 3rem; /* デフォルトのフォントサイズ */
}s

.fs-2 {
    font-size: 2rem; /* デフォルトのフォントサイズ */
}

.fs-3 {
    font-size: 1.75rem; /* デフォルトのフォントサイズ */
}

.fs-4 {
    font-size: 1.5rem; /* デフォルトのフォントサイズ */
}

.fs-5 {
    font-size: 1.25rem; /* デフォルトのフォントサイズ */
}

.lead {
    font-size: 1.25rem; /* デフォルトのフォントサイズ */
}

.accordion-button {
    font-size: 1.5rem; /* デフォルトのフォントサイズ */
}

.accordion-body {
    font-size: 1.25rem; /* デフォルトのフォントサイズ */
}


/* メディアクエリで画面サイズが768px以下の場合のスタイル */
@media (max-width: 768px) {
    .display-2 {
        font-size: 2.5rem; /* 小さくするフォントサイズ */
    }

    .fs-2 {
        font-size: 1.5rem; /* 小さくするフォントサイズ */
    }

    .fs-3 {
        font-size: 1.25rem; /* 小さくするフォントサイズ */
    }

    .fs-4 {
        font-size: 1.2rem; /* 小さくするフォントサイズ */
    }

    .fs-5 {
        font-size: 1.0rem !important; /* 小さくするフォントサイズ */
    }


    .lead {
        font-size: 1rem !important; /* 小さくするフォントサイズ */
    }

    .accordion-button {
        font-size: 1.25rem !important; /* 小さくするフォントサイズ */
    }

    .accordion-body {
        font-size: 1rem !important; /* 小さくするフォントサイズ */
    }
}


.content-bg {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
    background-color: #f8f9fa; /* 背景色を設定 */
    padding: 20px; /* パディングを追加して余白を確保 */
}




.background {
    background-color: #f0f0f0;
}

.background2 {
    background-color: #0f0e0e;
}



.display-7 {
    font-family: 'Trebuchet MS', sans-serif; /* Trebuchet MSを設定 */
}

.styled-heading {
    padding: 0.4em 0.5em; /* 文字の上下・左右の余白 */
    color: #494949; /* 文字色 */
    background: #f4f4f4; /* 背景色 */
    border-left: solid 5px #7db4e6; /* 左線 */
    border-bottom: solid 3px #d7d7d7; /* 下線 */
    font-size: 2rem; /* 文字サイズ */
    font-weight: bold; /* 文字を太字に */
    text-align: left; /* 左揃え */
    letter-spacing: 2px; /* 文字間隔 */
    margin-left: 3%; /* 両サイドに余白を持たせる */
    margin-right: 3%; /* 両サイドに余白を持たせる */
}



.slider {
    width: 100%;
    margin: auto;
}

.slider-item {
    margin: 10px;
}

.slider-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.slider-item img:hover {
    transform: scale(1.05);
}

.slider-item a {
    pointer-events: auto; /* リンクがクリック可能に */
}